body {
    background-color: rgb(180, 158,147);
}

/* 公共样式类 */
.text-center {
    text-align: center;
}

/* 导航条样式表 */
nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 1px 5px black;
    background-color: rgba(230, 203, 172, 0.692);
}

/* Welcome页面样式表 */

#sypic {
    /* 首页图片圆角 */
    border-radius: 80px;
    width: 350px;
}

.Welcome > h1 {
    font-size: 50px;
    color: rgb(98, 118, 231);
    font-weight: bold;
    text-shadow: 3px 5px 10px #000;
}

.Welcome > p {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 3px 1px 1px rgba(0, 0, 0, 0.6);
}

.Welcome > hr {
    width: 70%;
    height:10px;
    border: none;
    /* 渐变分割线 */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* About Me页面样式表 */
.leftspace > img {
    border-radius: 100px;
    width: 150px;
}


/* Portfolio页面样式表 */
.Portfolio button {
    font-size: 14px;
    color: #666;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
}

.Portfolio p {
    font-size: 20px;
    color: #666;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
}



/* Contact页面样式表 */

/* Contact h1 h2通用样式 */
.contact-zt {
    font-size: 28px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.Contact a {
    color: navy;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}