header { 
    box-sizing:border-box;
    float: left;
    background-color: lightblue;
    height: 750.88px;
    width: 180px;
}
main {
    box-sizing:border-box;
    background-color: pink;
    display: inline-block;
    padding-left: 20px;  
    height: 750.88px; 
}

h1 {
    margin: 70px 0 0 60px;
    color: white;
}

.change-style dt,dd {
    display: inline-block;
}

dt {
    font-weight: bold;
}

dd { 
    margin: 0 0 10px 0;
}

.change-style dd {
    margin: 0 40px 0 10px;
}