body {
    margin: 0;
    padding: 0;
}
header {
    background-color: pink;
    height: 60px;
}

header h1 {
    margin: 0;
    font-size: 20px;
    color: white;
    padding: 15px 0 0 20px;
}

section {
   overflow: hidden;
   border-bottom: 0.5px solid;
}

h2 {
    display: inline-block;
    margin: 0;
    padding: 50px 0 0 0;
    width: 100px;
    height: 70px;
    float: left;
    background-color: lightblue;
}

dl {
    margin-top: 25px;
    margin-left: 110px; 
}

dt,dd {    
    display: inline-block;
}

dt {
    font-weight: bold;
}

dt,dd { 
    margin-left: 0;
}

.change-style dd {
    margin: 0 40px 0 10px;
}