/* 基本样式 */
.change-style dt,.change-style dd {
    
    display: inline;
}

.change-style dt {
    font-weight: bold;
}

/* 基本信息和联系方式的dd元素左右边距 */
.change-style dd {
    margin: 0 40px 0 10px;
}

.able dt,.education dt,.project dt {
    font-weight: bold;
    float: left;
}

.able dd,.education dd,.project dd { 
    margin: 0;
}

/* 混合布局 */

/* 头部样式 */
header {
    background-color: rgb(133, 133, 133);
    height: 60px;
}

header h1 {
    font-size: 20px;
    color: white;
    margin-left: 30px;
    /* 相对定位实现垂直居中 */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* 主体样式 */
section {
    border: .5px solid rgb(133, 133, 133);
    margin-top: .5px;
    overflow: hidden;
    line-height: 40px;
}

h2 {
    background-color: rgb(214, 214, 214);
    height: 100px;
    margin: .5px 5px .5px 0;
    width: 100px;
    height: 100px;
    font-size: 12px;
    float: left;
    text-align: center;
    line-height:100px;
}

dl {
    margin: 0;
}