/* 头部 */
header {
    background-color: rgb(133, 133, 133);
}

header h1 {
    margin: 0;
    padding:20px 0 20px 30px;
    font-size: 15px;
    color: white;
}

/* 主体 */
h2 {
    margin: 0 0 1px 0;
    padding: 50px 30px;
    display: inline-block;
    font-size: 15px;
    background-color: rgb(214,214,214);
    float: left;
}

main {
    border: 1px solid rgb(214, 214, 214);
    border-top: 0;
}

section {
    border-top: 1px solid rgb(214, 214, 214); 
    overflow: auto;   
}

dl{
    margin: 10px 0 0 10px;
    float: left;
    width: 800px;
}

.change-style dt{
    display: inline;
    font-weight: bold;

}

.change-style dd {
    display: inline;
    margin-left: 8px;
    margin-right: 20px; 
}

.able dt, .project dt, .education dt {
    font-weight: bold;
    float: left;    
}

dd {
    margin: 0;
}
